$primary: #131C71;
$primary-light: #ecedf825;
$primary-1: #ecedf890;
$primary-2: #ecedf8af;

$black: #000000;
$black-1: #222222b1;

$bg-color: #F1F3F4;
$header-bg: #F1F3F4;

$back-light: rgba(245, 245, 245, 0.467);