<div class="login">
  <form #loginForm="ngForm">
    <div class="banner">
      <h5>
        Welcome to IRAMS
      </h5>
      <small>
        Collaborate and Evaluate your students works.
      </small>
    </div>
    <div class="alert alert-danger small" role="alert" *ngIf="messageVisible">
      Incorrect username or password.
    </div>
    <div class="form-floating mb-3">
      <input [(ngModel)]="loginRequest.email" name="email" #email="ngModel" type="email" class="form-control"
        id="floatingInput" placeholder="name@example.com" pattern="[a-z0-9._%+-]+@tup+\.edu+\.ph$" required>
      <label for="floatingInput" *ngIf="!hasError(email)">TUP email</label>
      <label class="message__error" for="floatingInput" *ngIf="hasError(email) && !email.errors?.['pattern']">TUP email is required</label>
      <label class="message__error" for="floatingInput" *ngIf="hasError(email) && email.errors?.['pattern']">TUP email invalid</label>
    </div>
    <div class="form-floating">
      <input [(ngModel)]="loginRequest.password" name="password" #password="ngModel" type="password"
        class="form-control" id="floatingPassword" placeholder="Password" required>
      <label for="floatingPassword" *ngIf="!hasError(password)">Password</label>
      <label class="message__error" for="floatingPassword" *ngIf="hasError(password)">Password is required</label>
    </div>
    <div class="mt-3">
      <a class="small">Forgot password?</a>
    </div>
    <div class="mt-3 w-100">
      <div class="btns" *ngIf="loading">
        <div class="spinner-border text-primary" role="status" style="display: flex; margin: auto;">
          <span class="sr-only"></span>
        </div>
      </div>
      <Button class="btns btns__primary w-100 p-3" *ngIf="!loading" (click)="loginWithCredentials()"
        [disabled]="loginForm.invalid">Login</Button>
    </div>
  </form>
</div>