<main>
  <div class="filter">
    <button class="btns btns__ghost-active" (click)="filter('new')" [ngClass]="{'btns__ghost-active': filterBy ==='new', 'btns__ghost': filterBy != 'new'}">New</button>
    <button class="btns btns__ghost" (click)="filter('returned')" [ngClass]="{'btns__ghost-active': filterBy  == 'returned', 'btns__ghost': filterBy != 'returned'}">Returned</button>
  </div>
  <section class="p-0 mt-2">
    <app-request-item *ngFor="let request of requestList" [item]="request"></app-request-item>
    <div class="d-flex p-3" style="justify-content: center;" *ngIf="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    <div class="empty-state" *ngIf="requestList.length === 0 && !loading">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd" />
      </svg>
      <strong>Nothing to evaluate</strong>
      <p>Student request for evaluation will be shown here.</p>
    </div>
  </section>
</main>