<div class="header">
  <div class="container">
    <p class="large-heavy m-auto">{{ getTitle() }}</p>
  </div>
  <!-- <div class="dropdown">
    <div class="user-chip" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ user.photoUrl }}">
      <p>{{ user.name }}</p>
    </div>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
  </div> -->
</div>