.member-list {
  border: none;
  padding: 8px 0px;
  display: flex;
  flex-direction: row;
  background-color: transparent;

  .profile {
    background-color: blue;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 5px;
  }
  
}

.member-list > * {
  margin: auto 0;
}